<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Whos In</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/socket.io.js"></script>

  <style>
    .in {
      color: green;
    }
  </style>

</head>

<body>
  <form id="login_form">
  <input type="text" name="name_input" id="name_input" placeholder="name"/>
  <button id="login_button">LOGIN!</button>
  </form>

  <script src="/static/scripts.js"></script>
</body>
</html>